/*/////////////Mobile First.///////////////*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    body {
                color: purple;
    }

}

/*iPhone landscape*/

@media only screen and (min-width: 480px) {

    body {
        color: green;
    }
    .demo-info  {
        margin-left: 18%;
        font-size: 1.2rem;
        line-height: 3rem;
    }
    legend {
        line-height: 5rem;
    }
    .dash-4 {
        width: 45%;
        height: 70px;
        min-width: 90px;
        max-width: 135px;
        margin: 1%;
        display: inline-block;
        padding: 1%;
    }
    #iob-display h4, span {
        display: inline-block;
        font-size: 1.3rem;
    }
    #user-dashboard h3 {
        font-size: 2rem;
        line-height: 4.5rem;
    }
    .row-1 {
        width: 50%;
        max-width: 300%;
        display: inline-block;
        padding: 0;
        margin: 0 auto 25px;

    }.row-2 {
/*        width: 50%;*/
        max-width: 300%;
        padding: 0;
        margin: 0 auto 25px;
        display: inline-block;
    }
    #bg-trigger {
/*        margin-right: 0;*/
    }#basal-trigger {
/*        margin-left: 0;*/
    }

}

/*Android Resolution (Lollipop) 640px*/

@media only screen and (min-width: 640px) {
    body {
        color: darkturquoise;
    }
    .type {
        width: 10%;
    }
    .readings {
        width: 50%;
    }
    .date-time {
        width: 38%;
    }
    .readings span {
        width: 32%;
        display: inline-block;
    }
    .date-time span {
        width: 49%;
        display: inline-block;
    }

}

/*ipad potrait*/

@media only screen and (min-width: 768px) {
    body {
        color: red;
        font-size: 20px;
    }

}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {

    body {
        color: black;
    }
    .log-div {
        font-size: 1.2rem;
    }
}
