/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Main Body styling*/
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
form {
    margin: auto;
    max-width: 900px;
    width: 100%;
}

fieldset {
    border-radius: 10px;
}
