/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Main Body styling*/
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
form {
    margin: auto;
    max-width: 900px;
    width: 100%;
}

fieldset {
    border-radius: 10px;
}

#demo-account {
    width: 100%;
    margin: auto;
    text-align: center;
}

#user-dashboard {
    min-height: 55vh;
    padding: 25px;
    background-color: rgba(55, 40, 70, 0.1);
}

#iob-display {
    background-color: #66339945;
    border-radius: 10px;
    width: 75%;
    margin: 10 auto 10;
    padding: 10px;
    margin: 10px auto;
}

#disclaimer-background {
    width: 100%;
    background-color: rgba (0, 0, 0, .2);
}

#disclaimer-wrapper {
    margin: 0 auto;
    width: 80%;
    text-align: left;
    font-size: 1.3rem;
    background-color: rgba (255,255,255, .8);
}

#disclaimer-buttons {
    width: 100%;
    text-align: center;
}


